<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!-- CONFIGURACION SERVIDOR -->
    <add key="puerto" value="8083" />
    <add key="url" value="http://*:" />
    <add key="callbackGSM" value="http://requestb.in/rrx2lmrr" />
    <add key="version" value="/v1" />
    <add key="checkTime" value="2" />
    <!-- CONFIGURACION CRIPTOGRAFIA - NO MODIFICAR O MORIRAS -->
    <add key="semilla" value="$2a$10$Esev9suggnCmG0QPZ6BAZe" />
    <add key="jwtsec" value="-XBJQ$VK48W3Y2D*NAPDQ=2JZE5S94-KT75*4C=X" />
    <!-- CONFIGURACION SQL -->
    <add key="dbServer" value="davidmart.database.windows.net" />
    <add key="dbUser" value="" />
    <add key="dbPassword" value="" />
    <add key="dbCatalog" value="davidmart" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- CONFIGURACION LOGENTRIES -->
    <add key="lgKey" value="1e201073-7914-442f-b046-ef7f0e7e646f" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>